<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title>Addon Configuration :: Maximus</title>
	</head>
	<body data-ng-app="maximus-addon-config">
		<div class="container">
			<server-config></server-config>

			<fieldset>
				<legend>Endpoint Configuration</legend>
				<div class="form-group">
					<label for="endpoint">Cookie Monster</label>
					<input type="text" id="endpoint" name="endpoint" class="form-control" placeholder="/cookies/set"/>
				</div>
			</fieldset>
		</div>
	</body>
</html>
